<!DOCTYPE html>
<head>
    <title>Ride2Gether</title>
    <style>

    </style>
</head>
<body>
    <header>
        <h2>Ride2Gether</h2>
    </header>
    {% if current_user.is_authenticated %}
    <section class="home-page">
        <form action="{{url_for('main.logout')}}">
            <button type="submit">Log out</button>
        </form>
        </form>
    </section>
    

    {% else %}
    <section class="login-form">
        <h1>Your ride, your choice</h1>
        <form action="{{ url_for('main.register') }}">
            <button type="submit">
                Sign Up
            </button>
        </form>
        <form action="{{ url_for('main.login')  }}">
            <button type="submit">Log In</button>
        </form>
    </section>
    {% endif %}
</body>